# Configuration file for nmea_logger.py
# text values are not enclosed in any marks


[ttyUSB0]
name=COM1
port=/dev/ttyUSB0
baud_rate=4800
data_bits=8
parity=N
stop_bits=1
timeout=3600


[ttyUSB1]
name=COM2
port=/dev/ttyUSB1
baud_rate=4800
data_bits=8
parity=N
stop_bits=1
timeout=3600


[ttyUSB2]
name=COM3
port=/dev/ttyUSB2
baud_rate=4800
data_bits=8
parity=N
stop_bits=1
timeout=3600


[tcp]
tcp_sourceip=192.168.0.1
tcp_port=2000


[General]
data_source=com
output_file_size=200000
output_file_name_extension=dat
vessel=***
ftp_transfer_enabled=1
delete_after_transfer=0
ftp_server=***
ftp_user=***
ftp_password=***
ftp_wait_sec=600
ftp_use_ports_file=0
save_all_nmea=0
nmea_sentence_types=GGA,VDM
